In [52]:
import pandas as pd

In [53]:
df = pd.read_csv(r"data\filtered_shipping_prices_august.csv")

df.head(3)

,หมายเลขคำสั่งซื้อ,สถานะการสั่งซื้อ,เหตุผลในการยกเลิกคำสั่งซื้อ,สถานะการคืนเงินหรือคืนสินค้า,ชื่อผู้ใช้ (ผู้ซื้อ),วันที่ทำการสั่งซื้อ,เวลาการชำระสินค้า,ช่องทางการชำระเงิน,ช่องทางการชำระเงิน (รายละเอียด),แผนการผ่อนชำระ,...,หมายเลขโทรศัพท์,หมายเหตุจากผู้ซื้อ,ที่อยู่ในการจัดส่ง,ประเทศ,จังหวัด,เขต/อำเภอ,รหัสไปรษณีย์,ประเภทคำสั่งซื้อ,เวลาที่ทำการสั่งซื้อสำเร็จ,บันทึก
0,24080146NTX5RT,สำเร็จแล้ว,NaN,NaN,somao658,2024-08-01 00:03,2024-08-01 00:03,ShopeePay - ตัดบัญชีธนาคาร,NaN,Airpay GIRO,...,******15,NaN,******าฬ ตำบลคลองวาฬ อำเภอเมืองประจวบคีรีขันธ์...,TH,จังหวัดประจวบคีรีขันธ์,อำเภอเมืองประจวบคีรีขันธ์,77000,NaN,2024-08-03 13:40,NaN
1,240801473X0V80,สำเร็จแล้ว,NaN,NaN,jidruttanun,2024-08-01 00:11,2024-08-01 00:11,SPayLater,Shopee Credit Down Payment,Shopee Credit BNPL,...,******89,NaN,****** ถนนพหลโยธิน54/1 เลียบชายคลองสายไหม แขวง...,TH,จังหวัดกรุงเทพมหานคร,เขตสายไหม,10220,NaN,2024-08-02 00:08,NaN
2,2408014EQP2755,สำเร็จแล้ว,NaN,NaN,soradet07,2024-08-01 02:27,2024-08-01 02:27,ShopeePay - ตัดบัญชีธนาคาร,NaN,Airpay GIRO,...,******02,NaN,"******หง 107, แขวง หัวหมาก เขต บางกะปิ กทม 102...",TH,จังหวัดกรุงเทพมหานคร,เขตบางกะปิ,10240,NaN,2024-08-06 06:26,NaN

In [54]:
df2 = pd.read_csv(r"data\filtered_shipping_prices_july.csv")

full = pd.concat([df , df2] , axis = 0)

full = full[["จังหวัด" ,  'ค่าจัดส่งที่ชำระโดยผู้ซื้อ']]
full = full.reset_index(drop = True)
full

                     จังหวัด  ค่าจัดส่งที่ชำระโดยผู้ซื้อ
0     จังหวัดประจวบคีรีขันธ์                         0.0
1       จังหวัดกรุงเทพมหานคร                         0.0
2       จังหวัดกรุงเทพมหานคร                        35.0
3               จังหวัดระยอง                         0.0
4       จังหวัดกรุงเทพมหานคร                         0.0
...                      ...                         ...
2118        จังหวัดอุทัยธานี                         0.0
2119           จังหวัดภูเก็ต                        16.0
2120    จังหวัดกรุงเทพมหานคร                         0.0
2121             จังหวัดน่าน                        38.0
2122           จังหวัดชลบุรี                        48.0

[2123 rows x 2 columns]

In [55]:
df = df[["จังหวัด" ,  'ค่าจัดส่งที่ชำระโดยผู้ซื้อ']]

df.head(3)

                  จังหวัด  ค่าจัดส่งที่ชำระโดยผู้ซื้อ
0  จังหวัดประจวบคีรีขันธ์                         0.0
1    จังหวัดกรุงเทพมหานคร                         0.0
2    จังหวัดกรุงเทพมหานคร                        35.0

In [56]:
df.columns

Index(['จังหวัด', 'ค่าจัดส่งที่ชำระโดยผู้ซื้อ'], dtype='object')

In [57]:
city_frequency = full["จังหวัด"].value_counts()

ratio = city_frequency/full.shape[0]

df["City frequency"] = df["จังหวัด"].map(ratio)

df

                     จังหวัด  ค่าจัดส่งที่ชำระโดยผู้ซื้อ  City frequency
0     จังหวัดประจวบคีรีขันธ์                         0.0        0.006123
1       จังหวัดกรุงเทพมหานคร                         0.0        0.336788
2       จังหวัดกรุงเทพมหานคร                        35.0        0.336788
3               จังหวัดระยอง                         0.0        0.017428
4       จังหวัดกรุงเทพมหานคร                         0.0        0.336788
...                      ...                         ...             ...
1095    จังหวัดกรุงเทพมหานคร                         0.0        0.336788
1096       จังหวัดนครราชสีมา                        96.0        0.014602
1097      จังหวัดสมุทรปราการ                         0.0        0.066415
1098    จังหวัดกรุงเทพมหานคร                        75.0        0.336788
1099       จังหวัดฉะเชิงเทรา                         0.0        0.012718

[1100 rows x 3 columns]

In [58]:
# def ship_norm(df):
#     bins = [0, 37.5, 62.5, 87.5, 112.5, 137.5, float('inf')]  # Define the bin edges
#     labels = [25, 50, 75, 100, 125, 150]  # Define the corresponding values
#     df[df['ค่าจัดส่งที่ชำระโดยผู้ซื้อ'] > 0]['ค่าจัดส่งที่ชำระโดยผู้ซื้อ'] = pd.cut(df[df['ค่าจัดส่งที่ชำระโดยผู้ซื้อ'] > 0]['ค่าจัดส่งที่ชำระโดยผู้ซื้อ'], bins=bins, labels=labels, right=False).astype(int)
#     return df

# df = ship_norm(df)

# df

In [59]:
df["ev"] = df["ค่าจัดส่งที่ชำระโดยผู้ซื้อ"] * df["City frequency"]

ev = df["ev"].sum()
ev

1573.7856806406028

In [60]:
df.to_excel("Check.xlsx" , index = False , columns = df.columns)